<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<h1>This is a title</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt, a dicta facere perferendis quaerat error eaque veritatis molestias minima tempora corrupti, sapiente modi aut, iusto nulla aperiam itaque! Mollitia!</p>

<%= link_to 'blog', articles_path %> | <%= link_to 'about', about_path %>

</body>
</html>